* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sub-menu {
  display: block;
}

.icone-subMenu {
  display: flex;
  font-family: "Bitcount Prop Single", sans-serif;
}

.lista-aparelhos {
  display: block;
}

.lista-aparelhos p {
  margin-top: 15px;
  margin-bottom: 5px;
  color: blue;
  font-weight: bold;
}
.lista-aparelhos ul li {
  list-style: none;
  font-size: 16px;
  padding: 5px;
  border-bottom: 1px solid black;
  font-weight: 500;
}

.lista-aparelhos ul li:hover {
  background-color: #f5f3ed;
  color: rgb(130, 186, 67);
}

.lista-aparelhos ul li a {
  text-decoration: none;
}

.info-adicional {
  display: block;
  padding: 20px;
  margin: 10px auto 10px;
  background-color: rgb(36, 36, 163);
  width: 250px;
  border-radius: 10px;
}

.info-adicional p {
  color: white;
}

.item-submenu {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  z-index: 100;
  width: 200px;
  margin-left: 280px;
  margin-top: -88px;
  border-radius: 10px;
  background-color:#f5f3ed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}

.item-submenu .move {
  margin-top:55px ;
}

.move p {
  border-bottom: 2px solid black;
  text-align: center;
}

.item-submenu ul li {
  border-bottom: none;
  color: cornflowerblue;
}

.item-submenu ul li:hover{
  font-weight: 800;
}

.lista-aparelhos li:hover .item-submenu {
  display: block;
}